body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional: This keeps the background fixed while scrolling */
    height: 100vh;
    overflow: auto;
  }